.update-container {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px;
}

.update-container img {
    width: 100%;
    margin-top: 10px;
}

.update-container .img-container {
    display: flex;
    flex-wrap: wrap;
    /*margin: 10px 20px 20px 20px;*/
}

.img-container img {
    margin: 5px 20px 20px 20px;
}

.img-container iframe {
    width: 80%;
    margin: 5px 20px 20px 20px;
}

.embed-container {
    display: block !important;
    text-align: center;
}

.update-description {
    padding: 10px;
}

.update-container h3, p {
    color: white;
    font-family: "Lato";
    margin: 10px 20px;
}

.update-container.lightMode .update-description p {
    color: black !important;
}

.update-container.lightMode h3 {
    color: black !important;
}

.update-header {
    border-radius: 20px 20px 0 0;
    width: 100%;
    background: var(--text-third);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-container.lightMode .update-header {
    border-radius: 20px 20px 0 0;
    width: 100%;
    background: var(--text-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-header p {
    color: gray !important;
}

.noBrake {
    display: inline-block;
}

.update-description {
    margin: 10px 20px;
}

.update-description p {
    margin: 0;
}

.bolded {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .update-container {
        /*width: 90%;*/
    }
}

.update-description pre {
    margin: 0;
}
.update-container h3, pre {
    color: white;
    font-family: "Lato";
    margin: 10px 20px;
}
.worker-container h3, pre {
    color: var(--text-primary);
    font-family: "Lato";
    margin: 10px 20px;
}
.nation-container h3, pre {
    color: white;
    font-family: "Lato";
    margin: 10px 20px;
}

.update-container.lightMode .update-description pre {
    color: black !important;
}