.updates-container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-main);
    justify-content: center;
    flex-wrap: wrap;
    transition: all ease 0.2s;
}

.updates-container.lightMode {
    background: white !important;
}