@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@font-face {
    font-family: mcFont;
    src: url('./fonts/MINECRAFTER.REG.TTF');
}
* {
    font-family: mcFont;
}

.Body {
    margin: 0;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --wave-color-light: #f3f4f5;
    /*--red-color: #bf2222;*/
    --green-color: #19982d;
    /*--lighter-red-color: #e73333;*/
    --lighter-green-color: #17a628;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    /*--bg-primary: #23232e;*/
    --text-fourth: #494949;
    --text-third: #313131;
    --bg-primary: #29292a;
    --bg-secondary: #141418;
    --bg-main: #282828;
    --main-light: #2b7bcb;
    --main-dark: #235d9d;
    --sawascraft-color: #2b7bcb;
    --transition-speed: 600ms;
}

::-webkit-scrollbar-track {
    background: #dc3545 !important;
}

.Main {
    margin-left: 5rem;
    background: var(--bg-main);
    /*padding: 1rem;*/
    min-height: 70vh;
    transition: all ease 0.2s;
}

.Main.lightMode {
    background: white !important;
}

@media only screen and (max-width: 600px) {
    .Main {
        margin: 0;
    }
}